<div id="<%= dom_id movement %>">
  <p>
    <strong>Title:</strong>
    <%= movement.title %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= movement.value %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= movement.date %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= movement.account.name %>
  </p>

</div>
