<p style="color: green"><%= notice %></p>

<h1>Movements</h1>

<div id="movements">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Account</th>
        <th>Title</th>
        <th>Value</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @movements.each do |movement| %>  
      <tr>
        <td>
          <%= movement.id %>
        </td>
        <td>
          <%= movement.account.name %>
        </td>
        <td>
          <%= movement.title %>
        </td>
        <td>
          <%= movement.account.currency_symbol %> <%= sprintf('%.2f', movement.value) %>
        </td>
        <td>
          <%= movement.date %>
        </td>
        <td>
          <%= link_to "Show this movement", movement %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New movement", new_movement_path %>
